<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anko.coursems.dao.AccountMapper">
    <select id="login" parameterType="loginForm" resultType="userInfo">
        select * from t_user
        where password = #{password}
        and (email = #{account} or phone_num = #{account})
    </select>

    <insert id="register" parameterType="userInfo">
        insert into t_user(user_id, user_name, nickname, password, email)
        values(#{userId}, #{userName}, #{nickname}, #{password}, #{email})
    </insert>

    <update id="resetPassword" parameterType="userInfo">
        update t_user
        set password = #{password}
        where email = #{email}
    </update>

</mapper>