<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anko.coursems.dao.CourseMapper">

    <resultMap id="courseMap" type="course">
        <id property="courseId" column="course_id" />
        <result property="courseNum" column="course_num" />
        <result property="courseName" column="course_name" />
        <result property="coursePic" column="course_pic" />
        <result property="clazzName" column="clazz_name" />
        <result property="synopsis" column="synopsis" />
        <result property="term" column="term" />
        <result property="arrivesNum" column="arrivesNum" />
        <result property="resourcesNum" column="resourcesNum" />
        <result property="experiencesNum" column="experiencesNum" />
        <result property="appraise" column="appraise" />
        <association property="teacher" column="teacher_id"
                     select="com.anko.coursems.dao.UserMapper.findUserById" />
    </resultMap>

    <resultMap id="courseDetailMap" type="course">
        <id property="courseId" column="course_id" />
        <result property="courseNum" column="course_num" />
        <result property="courseName" column="course_name" />
        <result property="coursePic" column="course_pic" />
        <result property="clazzName" column="clazz_name" />
        <result property="synopsis" column="synopsis" />
        <result property="term" column="term" />
        <result property="arrivesNum" column="arrivesNum" />
        <result property="resourcesNum" column="resourcesNum" />
        <result property="experiencesNum" column="experiencesNum" />
        <result property="appraise" column="appraise" />
        <result property="teacher.userId" column="teacher_id" />
        <result property="teacher.userName" column="user_name" />
        <collection property="members" column="course_id"
                    select="com.anko.coursems.dao.MemberMapper.getMembersByCourseId" />
        <collection property="resources" column="course_id"
                    select="com.anko.coursems.dao.ResourceMapper.getResourcesByCourseId" />
        <collection property="notices" column="course_id"
                    select="com.anko.coursems.dao.NoticeMapper.getNoticesByCourseId" />
    </resultMap>

    <select id="getCourseDetail" parameterType="string" resultMap="courseDetailMap">
        select c.*, u.user_name
        from t_course c, t_user u
        where u.user_id = c.teacher_id
        and c.course_id = #{userId}
    </select>

    <select id="getAllCourses" parameterType="string" resultMap="courseMap">
        select c.* from t_course c
        join t_member m on c.course_id = m.course_id
        where c.teacher_id = #{userId}
        or m.user_id = #{userId}
        GROUP BY c.course_id
    </select>

    <select id="searchCourse" parameterType="string" resultType="courseDto">
        select c.*, u.user_name teacher_name
        from t_course c, t_user u
        where c.course_num = #{courseNum}
        and u.user_id = c.teacher_id
    </select>

    <select id="getCourseById" parameterType="string" resultType="course">
        select * from t_course
        where course_id = #{courseId}
    </select>

    <insert id="createCourse" parameterType="course">
        insert into t_course(course_id, course_num, clazz_name, course_name, term, synopsis, teacher_id)
        values(#{courseId}, #{courseNum}, #{clazzName}, #{courseName}, #{term}, #{synopsis}, #{teacherId})
    </insert>

    <delete id="deleteCourse" parameterType="string">
        delete from t_course
        where course_id = #{courseId}
    </delete>

    <update id="toggleAppraise" parameterType="course">
        update t_course
        set appraise = #{appraise}
        where course_id=#{courseId}
    </update>

    <update id="uploadPic">
        update  t_course
        set course_pic = #{coursePic}
        where course_id = #{courseId}
    </update>

</mapper>