<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ankoye.coursems.dao.MemberMapper">

<!--    <resultMap id="memberMap" type="member">-->
<!--        <id property="id" column="id" />-->
<!--        <result property="user.userId" column="user_id" />-->
<!--        <result property="courseId" column="course_id" />-->
<!--        <result property="experience" column="experience" />-->
<!--        <result property="arrive" column="arrive" />-->
<!--        <result property="resource" column="resource" />-->
<!--        <result property="experience" column="experience" />-->
<!--        <result property="score" column="score" />-->
<!--        <result property="remark" column="remark" />-->
<!--        <result property="user.userName" column="user_name" />-->
<!--        <result property="user.userNum" column="user_num" />-->
<!--        <result property="user.avatar" column="avatar" />-->
<!--        <result property="user.signature" column="signature" />-->
<!--    </resultMap>-->

    <!-- 被其他mapper引用 -->
    <select id="getMembersByCourseId" parameterType="string" resultType="memberDto">
        select m.id, u.user_id, m.course_id, u.user_name stuName, u.stu_num, u.avatar, u.signature, m.experience, m.arrive, score, remark
        from t_member m, t_user u
        where course_id = #{courseId}
        and m.user_id = u.user_id
    </select>

    <update id="grade" parameterType="member">
        update t_member
        set score = #{score}, remark = #{remark}
        where course_id = #{courseId}
        and user_id = #{userId}
    </update>

</mapper>