<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anko.coursems.dao.NoticeMapper">

    <select id="getNoticesByCourseId" parameterType="string" resultType="notice">
        select * from t_notice
        where course_id = #{courseId}
    </select>

    <insert id="add" parameterType="notice">
        insert into t_notice(notice_id, content, release_time, author, `type`, course_id)
        values(#{noticeId}, #{content}, #{releaseTime}, #{author}, #{type}, #{courseId})
    </insert>

    <delete id="delete" parameterType="string">
        delete from t_notice
        where notice_id = #{noticeId}
    </delete>

    <delete id="deleteNoticesByCourseId" parameterType="string">
        delete from t_notice
        where course_id = #{courseId}
    </delete>

</mapper>