<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anko.coursems.dao.NoticeMapper">

    <!-- 被其他mapper引用 -->
    <select id="getNoticesByCourseId" parameterType="string" resultType="notice">
        select * from t_notice
        where course_id = #{courseId}
    </select>
</mapper>