<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anko.coursems.dao.UserMapper">

    <select id="findUserByAccount" parameterType="string" resultType="user">
        select * from t_user
        where email = #{account}
        or phone_num = #{account}
    </select>

    <update id="updatePassword" parameterType="user">
        update t_user
        set password = #{password}, salt = #{salt}
        <where>
            <choose>
                <when test="email != null and email != ''">
                    email = #{email}
                </when>
                <otherwise>
                    user_id = #{userId}
                </otherwise>
            </choose>
        </where>
    </update>

    <select id="login" resultType="user">
        select * from t_user
        where email = #{account} or phone_num = #{account}
        and password = #{password}
    </select>

</mapper>